<a href="https://colab.research.google.com/github/omiMaka2121/githubTest/blob/main/Test_Omi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#Defining Libraries used

In [17]:
from google.colab import files 
uploaded = files.upload()
#Uploading raw data sets

Saving test_dataset.csv to test_dataset (1).csv

In [18]:
from google.colab import files 
uploaded = files.upload()
#Uploading raw data sets

Saving Train_dataset.csv to Train_dataset (1).csv

In [20]:
train = pd.read_csv("Train_dataset.csv")
test = pd.read_csv("test_dataset.csv")
#Reading the uploaded data sets

In [21]:
train.head()
#For printing whole data set

   Unnamed: 0  Id  MSSubClass  ...  SaleType  SaleCondition  SalePrice
0           0   1          60  ...         8              4  12.247694
1           1   2          20  ...         8              4  12.109011
2           2   3          60  ...         8              4  12.317167
3           3   4          70  ...         8              0  11.849398
4           4   5          60  ...         8              4  12.429216

[5 rows x 72 columns]

In [24]:
train = train.drop(["Unnamed: 0","Id"], axis = 1)
test = test.drop(["Unnamed: 0","Id"], axis = 1)
#Dropping First two coloumns

In [25]:
train.head()
#Output after dropping first two coloumns

   MSSubClass  MSZoning  LotArea  ...  SaleType  SaleCondition  SalePrice
0          60         3     8450  ...         8              4  12.247694
1          20         3     9600  ...         8              4  12.109011
2          60         3    11250  ...         8              4  12.317167
3          70         3     9550  ...         8              0  11.849398
4          60         3    14260  ...         8              4  12.429216

[5 rows x 70 columns]

In [1]:
print("omi")

omi